.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
table,th,td{
    border:2px solid green;
    border-collapse: collapse;
}
td{
    font-weight: bold;
    text-align: center;
}